<!DOCTYPE html>
<html>
	<head>

		<title>CV | Angel Carvajal</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Components -->
		<script src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../bower_components/angular/angular.min.js"></script>
		<script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="../bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
		<script src="../bower_components/velocity/velocity.min.js"></script>
		<script src="../bower_components/moment/min/moment-with-locales.min.js"></script>
		<script src="../bower_components/typed.js/dist/typed.min.js"></script>
		<script src="../bower_components/lumx/dist/lumx.min.js"></script>
		<script src="../bower_components/angular-inview/angular-inview.js"></script>
		

		<!-- Angular services forced -->
		<script src="include/js/services/navigation.js"></script>
		<script src="include/js/services/global.js"></script>
		<script src="include/js/directives/global.js"></script>

		<!-- Angular Modules forced -->
		<script src="include/js/modules/angelRouter.js"></script>
		<script src="include/js/modules/navigation.js"></script>

		<!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>


	</head>





	<body data-ng-app="angelRouter" ng-controller="alwaysLoad" ng-cloak>
		



		
		<div ng-if="load">
			
			<div 
				ng-controller="navigationController"
				class="{{content.class}}" 
			>

				<nav-bar>
				</nav-bar>

			</div>

			<div>

				<ui-view></ui-view>

			</div>

		</div>

		<div 
			ng-if="!load"
			class="{{content.class}}" 
		>

			<loading load="content.load">

			</loading>

		</div>

	</body>
</html>