@charset "utf-8";

//Import configuration
@import "_config.scss";
	
	*{
		font-family: $font-family;
	}

	hr{
		border:0;
		border-top:1px solid $border-color;
		display: inline-block;
	}

	.lineP{
		border-width: 5px;
		border-color: $pTx;
	}
	.lineS{
		border-width: 5px;
		border-color: $tTx;
	}

	%window-configuration{
		min-height: 100%;
		width: 100%;
	    overflow-x:hidden;
	}

	html{
		@extend %window-configuration;
	}

	body{
		@extend %window-configuration;
	}

	.link{
		cursor: pointer;
	}

	.hidden{
		opacity: 0;
	}

	.visible{
		opacity: 1;
	}



/*------------------------------------*\
    Welcome style
\*------------------------------------*/

	.welcome{
		@extend %flowYHidden;
		height: 100%;
		@extend %pointerDefault;
	}

		.welcome__load{
			position: relative;
			width: 100%;
			text-align: center;
			top: 0px;
		}

			.welcome__load#{$actived}{
				top: -120px;
				@include effect();
			}

		.welcome__title{
			font-weight: 200;
			font-size: 20px;
		}

			.welcome__title__container{
				display: inline-block;
				position: relative;
				bottom: 36px;
				right: 6px;
			}


		.welcome__image{
			height: 100px;
		}

			.welcome__image#{$actived}{
				color:red;
			}

			.welcome__image__container{
				display: inline-block;
				position: relative;
				top: -120px;
			}
			.welcome__image__container#{$actived}{
				top: 0px;
				@include effect();
			}





/*------------------------------------*\
    Cover style
\*------------------------------------*/
	.cover{
		height: 1500px;
		margin-bottom: 1px;
		@extend %pointerDefault;
	}
		.cover__image{
			background-image: $cover;
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center center;
			@include positionCoordinates($position:fixed,$z:0);
		}

		.cover__container{
			@extend %textCenter;
			@extend %centered;
			@extend %zPositionP;
			width: 100%;
			position: absolute;
			top: 40%;
		}

			.cover__container__title{
				@include text($size:$t--m,$color:$tc--tertiary);
				@extend %sidesSpace;
				@extend %negSingleSpace;
				@extend %outBottomSpace;
			}

				.cover__container__title__container{
					@extend %inlineBlock;
					@include borders($side:bottom,$color:$bgc--primary,$size:1);
				}


			.cover__container__sub-title{
				@include text($size:$t--xs,$color:$tc--tertiary);
				@extend %doubleSpace;
				@extend %sidesSpace;
				@extend %topSpace;
			}

				.cover__container__sub-title__container{

				}





/*------------------------------------*\
    General info style
\*------------------------------------*/

	.general-info{
		@extend %section;
		@extend %section--primary;
	}
		.general-info__image{
			border-radius: 50%;
			height: 300px;
			margin: auto;
		}

			.general-info__image__container{
				@extend %topSpace;
				@extend %bottomSpace;
				@extend %outBTSpace;
			}

		.general-info__information{
		
		}

		.general-info__title{
			@extend %title--primary;
		}

			.general-info__title__container{
				@extend %textCenter;
				@extend %sidesSpace;
				@extend %topSpace;
				@extend %bottomSpace;
				@include customeSpace(margin,top,40px)
			}
			

		.general-info__paragraph{
			@extend %paragraph--secondary;
			@extend %topSpace;
			@include customeSpace(padding,bottom,40px)
		}

		.general-info__profile{
			@extend %sidesSpace;
		}

			.general-info__profile__title{
				@extend %title--secondary;
			}
				.general-info__profile__title__container{
					@extend %bottomSpace;
				}


			.general-info__profile__option{
				@extend %textCenter;
			}
				.general-info__profile__option__title{
					@extend %sub-title--primary;
				}

					.general-info__profile__option__title__container{
						@extend %topSpace;

					}


				.general-info__profile__option__description{
					@extend %paragraph--secondary
				}

					.general-info__profile__option__description__container{
						@extend %bottomSpace;
					}


		.general-info__goal{
			@extend %sidesSpace;
		}

			.general-info__goal__title{
				@extend %title--secondary;
			}

				.general-info__goal__title__container{
					@extend %bottomSpace;
				}


			.general-info__goal__paragraph{
				@extend %paragraph--primary;
			}

				.general-info__goal__paragraph__container{
					@extend %topSpace;
				}


		.general-info__education{
			@extend %sidesSpace;
			@extend %topSpace;
			@extend %outTopSpace;
		}
			.general-info__education__title{
				@extend %title--secondary;
			}

				.general-info__education__title__container{
					@extend %bottomSpace;
					@extend %outBottomSpace;
				}


			.general-info__education__option{
				@extend %bottomSpace;
			}

				.general-info__education__option__logo{
					margin: auto;
					height: 50px;
				}

					.general-info__education__option__logo__container{
						@extend %bottomSpace;

					}


				.general-info__education__option__paragraph{
					@extend %sidesSpace;
					@extend %bottomSpace;
					@extend %outBottomSpace;
					@extend %textCenter;
				}

					.general-info__education__option__paragraph__title{
						@extend %sub-title--secondary;
					}

					.general-info__education__option__paragraph__sub-title{
						@extend %paragraph--tertiary;
					}

					.general-info__education__option__paragraph__date{
						@extend %paragraph--secondary;
					}





/*------------------------------------*\
    Knoledge style
\*------------------------------------*/

	.knowledge{
		@extend %section;
		@extend %section--primary;
	}

		.knowledge__title{
			@extend %title--primary;
			@include customeSpace(padding,bottom,40px)
		}

			.knowledge__title__container{
				@extend %textCenter;
				@extend %sidesSpace;
				@extend %topSpace;
				@include customeSpace(margin,top,40px);
			}


		.knowledge__technologies{

		}

			.knowledge__technologies__type{
				@extend %sidesSpace;
				@extend %topSpace;
				@extend %outTopSpace;
				@include customeSpace(margin,bottom,40px);
			}

				.knowledge__technologies__type__title{
					@extend %title--secondary;
				}

					.knowledge__technologies__type__title__container{
						@extend %bottomSpace;
						@extend %outBottomSpace;
					}


				.knowledge__technologies__type__techs{
					@include text($size:$t--s)
				}


					.knowledge__technologies__type__techs__tech{
						@extend %sidesSpace;
						@extend %bottomSpace;
					}

						.knowledge__technologies__type__techs__tech__title{
							@extend %sub-title--quaternary;
						}

							.knowledge__technologies__type__techs__tech__title__container{
								@extend %inlineBlock;
							}

						.knowledge__technologies__type__techs__tech__grades{
							@extend %inlineBlock;
							height: 22px;
							float: right;
						}
							.knowledge__technologies__type__techs__tech__grades__grade{
								@extend %inlineBlock;
								margin: 0px 2px;
								border: 3px solid #009688;
								width: 12px;
							}

								.knowledge__technologies__type__techs__tech__grades__grade--actived{
									@include bgColor($bgColor:$bgc--quaternary);
								}


				.knowledge__technologies__type__extra{
					@extend %textCenter;
					@extend %sidesSpace;
				}

					.knowledge__technologies__type__extra__title{
						@extend %paragraph--secondary
					}

						.knowledge__technologies__type__extra__title__container{
							@extend %bottomSpace;
						}


					.knowledge__technologies__type__extra__link{
						@extend %sidesSpace;
						@extend %topSpace;
						@extend %bottomSpace;
						@include bgColor($bgColor:$bgc--tertiary);
						@include text($size:$t--xs,$color:$tc--tertiary);
						@include effect($time:.3);
						&:hover{
							@include text($color:$tc--secondary);
							@include effect($time:.3);
						}

					}

						.knowledge__technologies__type__extra__link__container{
							@include text($color:$tc--tertiary);
							@extend %topSpace;
							@extend %bottomSpace;
							@include customeSpace(margin,bottom,40px);
						}







/*------------------------------------*\
    Experience style
\*------------------------------------*/
	
	.experience{
		@extend %section;
		@extend %section--secondary;
	}

		.experience__title{
			@extend %title--primary;
			padding-bottom: 40px;
		}

			.experience__title__container{
				@extend %textCenter;
				@extend %sidesSpace;
				@extend %topSpace;
				margin-top: 40px;
			}


		.experience__option{
			@extend %sidesSpace;
			@extend %topSpace;
			@extend %outTopSpace;
			@extend %outBottomSpace;
			margin-bottom: 40px;
		}

			.experience__option__title{
				@extend %bottomSpace;
				@extend %outBottomSpace;
			}

				.experience__option__title__position{
					@extend %title--secondary;
				}

					.experience__option__title__position__container{

					}


				.experience__option__title__company{
					@extend %paragraph--tertiary;
				}

					.experience__option__title__company__container{

					}

				.experience__option__title__date{
					@extend %paragraph--secondary;
				}

					.experience__option__title__date__container{

					}


			.experience__option__information{

			}

				.experience__option__information__description{
					@extend %paragraph--primary;
				}

					.experience__option__information__description__container{
						@extend %bottomSpace;
					}


			.experience__option__information__duties{

			}

				.experience__option__information__duties__title{
					@extend %title--secondary;
				}

					.experience__option__information__duties__title__container{

					}

				.experience__option__information__duties__duty{

				}

					.experience__option__information__duties__duty__title{
						@extend %sub-title--quaternary;
					}

						.experience__option__information__duties__duty__title__container{
							@extend %inlineBlock;
							@extend %sidesSpace;
							@extend %topSpace;
							@extend %bottomSpace;
							@extend %outSpace;
							@include bgColor($bgColor:$bgc--primary);
						}


			.experience__option__information__location{
				@extend %title--tertiary;
				@extend %inlineBlock;
			}

				.experience__option__information__location__container{
					@extend %topSpace;
				}

				.experience__option__information__location__container i{
					@extend %inline;
				}





/*------------------------------------*\
    Projects style
\*------------------------------------*/
	
	.projects{
		@extend %section;
		@extend %section--secondary;
	}

		.projects__title{
			@extend %title--primary;
			padding-bottom: 40px;
		}

			.projects__title__container{
				@extend %textCenter;
				@extend %sidesSpace;
				@extend %topSpace;
				margin-top: 40px;
			}


		.projects__option{
			@extend %sidesSpace;
			@extend %topSpace;
			@extend %outTopSpace;
			@extend %outBottomSpace;
			margin-bottom: 40px;
		}

			.projects__option__title{
				@extend %bottomSpace;
				@extend %outBottomSpace;
			}

				.projects__option__title__project{
					@extend %title--secondary;
				}

					.projects__option__title__project__container{

					}


				.projects__option__title__company{
					@extend %paragraph--tertiary;
				}

					.projects__option__title__company__container{

					}

				.projects__option__title__date{
					@extend %paragraph--secondary;
				}

					.projects__option__title__date__container{

					}


			.projects__option__information{

			}

				.projects__option__information__description{
					@extend %paragraph--primary;
				}

					.projects__option__information__description__container{
						@extend %bottomSpace;
					}


			.projects__option__information__techs{

			}

				.projects__option__information__techs__title{
					@extend %title--secondary;
				}

					.projects__option__information__techs__title__container{

					}

				.projects__option__information__techs__tech{

				}

					.projects__option__information__techs__tech__title{
						@extend %sub-title--quaternary;
					}

						.projects__option__information__techs__tech__title__container{
							@extend %inlineBlock;
							@extend %sidesSpace;
							@extend %topSpace;
							@extend %bottomSpace;
							@extend %outSpace;
							@include bgColor($bgColor:$bgc--primary);
						}


			.projects__option__information__url{
					@extend %topSpace;
			}

				.projects__option__information__url i{
					@extend %inline;
				}

				.projects__option__information__url__title{
					@extend %title--tertiary;
					@extend %inlineBlock;
				}

				.projects__option__information__url__link{
					@extend %title--tertiary;
					@extend %inlineBlock;
					&:hover .projects__option__information__url__title, &:hover i{
						@extend %pTx;
						@include effect($time:.3);
					}

					.projects__option__information__url__title, i{
						@include effect($time:.3);
					}
				}

			
			.projects__option__information__no-url{

			}

				.projects__option__information__no-url__title{
					@extend %title--tertiary;
					@extend %topSpace;
				}

				





/*------------------------------------*\
    Footer style
\*------------------------------------*/

	.footer{
		@extend %section;
		@extend %section--tertiary;
	}

		.footer__title{
			@extend %bottomSpace;
			@extend %sidesSpace;
			margin-top: 40px;
			@extend %pointerDefault;
		}

			.footer__title__title{
				@extend %title--quaternary;

			}

				.footer__title__title__container{
					@extend %textCenter;
				}

			.footer__title__paragraph{
				
			}

				.footer__title__paragraph__container{
					@extend %textCenter;
					@extend %topSpace;
					@include text($size:$p--s);
				}


			.footer__title__author{
				
			}

				.footer__title__author__container{
					@extend %textCenter;
					@extend %topSpace;
					@include text($size:14px);
				}


		.footer__contact{
			@include customeSpace(margin,top,40px);
		}

			.footer__contact__option{
				@extend %textCenter;
			}

				.footer__contact__option__title{
					@include text($size:$p--m);
				}

					.footer__contact__option__title__icon{
						@extend %inline;
					}

					.footer__contact__option__title__container{
						@extend %inlineBlock;
						@include customeSpace(padding,top,8px);
					}


		.footer__social{
			@include customeSpace(margin,top,40px);
		}

			.footer__social__option{
				@extend %textCenter;
			}

				.footer__social__option__title{
					@include text($size:$p--m);
				}

					.footer__social__option__title__icon{
						@extend %inline;
					}

					.footer__social__option__title__container{
						@extend %inlineBlock;
						@include customeSpace(padding,top,8px);
					}


				.footer__social__option__link{
					@include effect($time:.3);

					&:hover, &:hover i{
						color:$tc--secondary;
						@include effect($time:.3);
					}

					i{
						@include effect($time:.3);
					}
				}

		.footer__signature{
			@extend %textCenter;
			@extend %pointerDefault;
		}

			.footer__signature__title{
				@include text($size:$st--m);
				font-weight: 200;
			}

				.footer__signature__title__container{
					@extend %inlineBlock;
					position: relative;
					bottom: 38px;
				}


			.footer__signature__logo{
				height: 100px;
			}	
			
				.footer__signature__logo__container{
					@extend %inlineBlock;
				}		





/*------------------------------------*\
    Tablets and small screen style
\*------------------------------------*/

	@media (min-width: 481px){
		.welcome__image{
			height: 150px;
		}

		.welcome__title__container{
			bottom: 56px;
		}


		


		.footer__signature__logo{
			height: 150px;
		}

		.footer__signature__title__container{
			bottom: 58px;
		}

		
	}

	@media (min-width: 481px) and (max-width: 800px){

	}

	@media (min-width: 801px) and (max-width: 1023px){

		.cover__image{
			background-size: 100% 100%;
		}

		.general-info__profile__option{
			@extend %textLeft;
		}

	}





/*------------------------------------*\
    Wide Screens style
\*------------------------------------*/

	@media (min-width: 1024px){
		.cover__image{
			background-size: 100% 100%;
		}

		.general-info__profile__option{
			text-align: left;
		}

		.general-info__education__option__paragraph{
			text-align: left;
		}

	}	
