@charset "utf-8";
/*------------------------------------*\
    Global style
\*------------------------------------*/
/* line 113, _config.scss */
.general-info, .knowledge, .experience, .projects, .footer {
  overflow-y: hidden;
  cursor: default;
  position: relative;
  z-index: 1;
  padding-bottom: 40px;
}

/* line 117, _config.scss */
.general-info, .knowledge {
  background-color: white;
}

/* line 121, _config.scss */
.experience, .projects {
  background-color: #eeeeee;
}

/* line 125, _config.scss */
.footer {
  background-color: #444a54;
  color: white;
}

/* line 134, _config.scss */
.general-info__title, .knowledge__title, .experience__title, .projects__title {
  font-size: 40px;
  color: #009688;
}

/* line 138, _config.scss */
.general-info__profile__title, .general-info__goal__title, .general-info__education__title, .knowledge__technologies__type__title, .experience__option__title__position, .experience__option__information__duties__title, .projects__option__title__project, .projects__option__information__techs__title {
  font-size: 30px;
  color: #009688;
}

/* line 142, _config.scss */
.experience__option__information__location, .projects__option__information__url__title, .projects__option__information__url__link, .projects__option__information__no-url__title {
  font-size: 16px;
  color: #009688;
  font-weight: bolder;
}

/* line 146, _config.scss */
.footer__title__title {
  font-size: 40px;
  color: white;
}

/* line 154, _config.scss */
.general-info__profile__option__title {
  font-size: 30px;
  color: #444a54;
  font-weight: bolder;
}

/* line 159, _config.scss */
.general-info__education__option__paragraph__title {
  font-size: 18px;
  color: #009688;
  font-weight: bolder;
}

/* line 169, _config.scss */
.knowledge__technologies__type__techs__tech__title, .experience__option__information__duties__duty__title, .projects__option__information__techs__tech__title {
  font-size: 16px;
  color: #444a54;
  font-weight: bolder;
}

/* line 179, _config.scss */
.general-info__goal__paragraph, .experience__option__information__description {
  font-size: 18px;
  color: #444a54;
  line-height: 1.5em;
  text-align: justify;
}

/* line 183, _config.scss */
.general-info__paragraph, .general-info__profile__option__description, .general-info__education__option__paragraph__date, .knowledge__technologies__type__extra__title, .experience__option__title__date, .projects__option__title__date {
  font-size: 18px;
  color: #444a54;
  line-height: 1em;
  text-align: inherit;
}

/* line 187, _config.scss */
.general-info__education__option__paragraph__sub-title, .experience__option__title__company, .projects__option__title__company {
  font-size: 18px;
  color: #444a54;
  line-height: 1em;
  text-align: inherit;
  font-weight: bolder;
}

/* line 199, _config.scss */
.experience__option__information__duties__duty__title__container, .projects__option__information__techs__tech__title__container {
  background-color: white;
}

/* line 208, _config.scss */
.knowledge__technologies__type__techs__tech__grades__grade--actived {
  background-color: #009688;
}

/* line 213, _config.scss */
.projects__option__information__description, .projects__option__information__url__link:hover .projects__option__information__url__title, .projects__option__information__url__link:hover i {
  color: #444a54;
}

/* line 219, _config.scss */
.knowledge__technologies__type__extra__link__container {
  color: white;
}

/* line 224, _config.scss */
.cover__container__title__container, .knowledge__technologies__type__techs__tech__title__container, .knowledge__technologies__type__techs__tech__grades, .knowledge__technologies__type__techs__tech__grades__grade, .experience__option__information__duties__duty__title__container, .experience__option__information__location, .projects__option__information__techs__tech__title__container, .projects__option__information__url__title, .projects__option__information__url__link, .footer__contact__option__title__container, .footer__social__option__title__container, .footer__signature__title__container, .footer__signature__logo__container {
  display: inline-block;
}

/* line 227, _config.scss */
.experience__option__information__location__container i, .projects__option__information__url i, .footer__contact__option__title__icon, .footer__social__option__title__icon {
  display: inline;
}

/* line 239, _config.scss */
.knowledge__technologies__type__techs {
  font-size: 30px;
}

/* line 285, _config.scss */
.footer__title__author__container {
  font-size: 14px;
}

/* line 293, _config.scss */
.projects__option__information__description {
  font-size: 18px;
}

/* line 309, _config.scss */
.cover__container__title, .cover__container__sub-title, .general-info__title__container, .general-info__profile, .general-info__goal, .general-info__education, .general-info__education__option__paragraph, .knowledge__title__container, .knowledge__technologies__type, .knowledge__technologies__type__techs__tech, .knowledge__technologies__type__extra__link, .experience__title__container, .experience__option, .experience__option__information__duties__duty__title__container, .projects__title__container, .projects__option, .projects__option__information__techs__tech__title__container {
  padding: 0 20px;
}

/* line 318, _config.scss */
.cover__container__sub-title, .general-info__image__container, .general-info__title__container, .general-info__paragraph, .general-info__profile__option__title__container, .general-info__goal__paragraph__container, .general-info__education, .knowledge__title__container, .knowledge__technologies__type, .knowledge__technologies__type__extra__link, .knowledge__technologies__type__extra__link__container, .experience__title__container, .experience__option, .experience__option__information__duties__duty__title__container, .experience__option__information__location__container, .projects__title__container, .projects__option, .projects__option__information__techs__tech__title__container, .projects__option__information__url, .footer__title__paragraph__container, .footer__title__author__container {
  padding-top: 10px;
}

/* line 321, _config.scss */
.general-info__image__container, .general-info__title__container, .general-info__profile__title__container, .general-info__profile__option__description__container, .general-info__goal__title__container, .general-info__education__title__container, .general-info__education__option, .knowledge__technologies__type__title__container, .knowledge__technologies__type__techs__tech, .knowledge__technologies__type__extra__title__container, .knowledge__technologies__type__extra__link, .knowledge__technologies__type__extra__link__container, .experience__option__title, .experience__option__information__description__container, .experience__option__information__duties__duty__title__container, .projects__option__title, .projects__option__information__description__container, .projects__option__information__techs__tech__title__container, .footer__title {
  padding-bottom: 10px;
}

/* line 326, _config.scss */
.experience__option__information__duties__duty__title__container, .projects__option__information__techs__tech__title__container {
  margin: 10px 10px;
}

/* line 329, _config.scss */
.cover__container__title, .general-info__education__title__container, .knowledge__technologies__type__title__container, .experience__option, .experience__option__title, .projects__option, .projects__option__title {
  margin-bottom: 10px;
}

/* line 332, _config.scss */
.general-info__education, .knowledge__technologies__type, .experience__option, .projects__option {
  margin-top: 10px;
}

/* line 335, _config.scss */
.general-info__image__container {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 370, _config.scss */
.cover__container, .general-info__title__container, .knowledge__title__container, .knowledge__technologies__type__extra, .experience__title__container, .projects__title__container, .footer__title__title__container, .footer__title__paragraph__container, .footer__title__author__container, .footer__contact__option, .footer__social__option, .footer__signature {
  text-align: center;
}

/* line 373, _config.scss */
.projects__option__information__description {
  text-align: justify;
}

/* line 386, _config.scss */
.welcome, .cover, .footer__title, .footer__signature {
  cursor: default;
}

/* line 391, _config.scss */
.cover__container__sub-title {
  letter-spacing: 2px;
}

/* line 394, _config.scss */
.cover__container__title {
  letter-spacing: -1px;
}

/* line 407, _config.scss */
.cover__container {
  position: relative;
  top: 40%;
}

/* line 418, _config.scss */
.cover__container {
  z-index: 1;
}

/* line 423, _config.scss */
.welcome {
  overflow-y: hidden;
}

/* line 6, main.scss */
* {
  font-family: "Raleway", sans-serif;
}

/* line 10, main.scss */
hr {
  border: 0;
  border-top: 1px solid #eeeeee;
  display: inline-block;
}

/* line 16, main.scss */
.lineP {
  border-width: 5px;
  border-color: #444a54;
}

/* line 20, main.scss */
.lineS {
  border-width: 5px;
  border-color: white;
}

/* line 25, main.scss */
html, body {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* line 39, main.scss */
.link {
  cursor: pointer;
}

/* line 43, main.scss */
.hidden {
  opacity: 0;
}

/* line 47, main.scss */
.visible {
  opacity: 1;
}

/*------------------------------------*\
    Welcome style
\*------------------------------------*/
/* line 57, main.scss */
.welcome {
  height: 100%;
}

/* line 63, main.scss */
.welcome__load {
  position: relative;
  width: 100%;
  text-align: center;
  top: 0px;
}

/* line 70, main.scss */
.welcome__load--actived {
  top: -120px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

/* line 75, main.scss */
.welcome__title {
  font-weight: 200;
  font-size: 20px;
}

/* line 80, main.scss */
.welcome__title__container {
  display: inline-block;
  position: relative;
  bottom: 56px;
  right: 6px;
}

/* line 88, main.scss */
.welcome__image {
  height: 150px;
}

/* line 92, main.scss */
.welcome__image--actived {
  color: red;
}

/* line 96, main.scss */
.welcome__image__container {
  display: inline-block;
  position: relative;
  top: -120px;
}

/* line 101, main.scss */
.welcome__image__container--actived {
  top: 0px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

/*------------------------------------*\
    Cover style
\*------------------------------------*/
/* line 113, main.scss */
.cover {
  height: 1500px;
  margin-bottom: 1px;
}

/* line 118, main.scss */
.cover__image {
  background-image: url("../images/welcome-cover_1.4.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

/* line 126, main.scss */
.cover__container {
  width: 100%;
  position: absolute;
  top: 40%;
}

/* line 135, main.scss */
.cover__container__title {
  font-size: 40px;
  color: white;
}

/* line 142, main.scss */
.cover__container__title__container {
  border-bottom: 1px solid white;
}

/* line 148, main.scss */
.cover__container__sub-title {
  font-size: 16px;
  color: white;
}

/*------------------------------------*\
    General info style
\*------------------------------------*/
/* line 171, main.scss */
.general-info__image {
  border-radius: 50%;
  height: 300px;
  margin: auto;
}

/* line 191, main.scss */
.general-info__title__container {
  margin-top: 40px;
}

/* line 200, main.scss */
.general-info__paragraph {
  padding-bottom: 40px;
}

/* line 281, main.scss */
.general-info__education__option__logo {
  margin: auto;
  height: 50px;
}

/*------------------------------------*\
    Knoledge style
\*------------------------------------*/
/* line 320, main.scss */
.knowledge__title {
  padding-bottom: 40px;
}

/* line 325, main.scss */
.knowledge__title__container {
  margin-top: 40px;
}

/* line 337, main.scss */
.knowledge__technologies__type {
  margin-bottom: 40px;
}

/* line 372, main.scss */
.knowledge__technologies__type__techs__tech__grades {
  height: 22px;
  float: right;
}

/* line 377, main.scss */
.knowledge__technologies__type__techs__tech__grades__grade {
  margin: 0px 2px;
  border: 3px solid #009688;
  width: 12px;
}

/* line 402, main.scss */
.knowledge__technologies__type__extra__link {
  background-color: #444a54;
  font-size: 16px;
  color: white;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
/* line 409, main.scss */
.knowledge__technologies__type__extra__link:hover {
  font-size: inherit;
  color: #009688;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

/* line 416, main.scss */
.knowledge__technologies__type__extra__link__container {
  margin-bottom: 40px;
}

/*------------------------------------*\
    Experience style
\*------------------------------------*/
/* line 438, main.scss */
.experience__title {
  padding-bottom: 40px;
}

/* line 443, main.scss */
.experience__title__container {
  margin-top: 40px;
}

/* line 451, main.scss */
.experience__option {
  margin-bottom: 40px;
}

/*------------------------------------*\
    Projects style
\*------------------------------------*/
/* line 559, main.scss */
.projects__title {
  padding-bottom: 40px;
}

/* line 564, main.scss */
.projects__title__container {
  margin-top: 40px;
}

/* line 572, main.scss */
.projects__option {
  margin-bottom: 40px;
}

/* line 615, main.scss */
.projects__option__information__description {
  line-height: 1.5em;
}

/* line 673, main.scss */
.projects__option__information__url__link:hover .projects__option__information__url__title, .projects__option__information__url__link:hover i {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
/* line 678, main.scss */
.projects__option__information__url__link .projects__option__information__url__title, .projects__option__information__url__link i {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

/*------------------------------------*\
    Footer style
\*------------------------------------*/
/* line 707, main.scss */
.footer__title {
  margin-top: 40px;
}

/* line 726, main.scss */
.footer__title__paragraph__container {
  font-size: 18px;
  color: inherit;
}

/* line 737, main.scss */
.footer__title__author__container {
  font-size: 14px;
  color: inherit;
}

/* line 745, main.scss */
.footer__contact {
  margin-top: 40px;
}

/* line 753, main.scss */
.footer__contact__option__title {
  font-size: 20px;
  color: inherit;
}

/* line 761, main.scss */
.footer__contact__option__title__container {
  padding-top: 8px;
}

/* line 767, main.scss */
.footer__social {
  margin-top: 40px;
}

/* line 775, main.scss */
.footer__social__option__title {
  font-size: 20px;
  color: inherit;
}

/* line 783, main.scss */
.footer__social__option__title__container {
  padding-top: 8px;
}

/* line 789, main.scss */
.footer__social__option__link {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
/* line 792, main.scss */
.footer__social__option__link:hover, .footer__social__option__link:hover i {
  font-size: inherit;
  color: #009688;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
/* line 797, main.scss */
.footer__social__option__link i {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

/* line 807, main.scss */
.footer__signature__title {
  font-size: 20px;
  color: inherit;
  font-weight: 200;
}

/* line 812, main.scss */
.footer__signature__title__container {
  position: relative;
  bottom: 58px;
}

/* line 819, main.scss */
.footer__signature__logo {
  height: 150px;
}
