@charset "utf-8";

//Import configuration
@import "_config.scss";
	
	*{
		font-family: $font-family;
	}

	hr{
		border:0;
		border-top:1px solid $border-color;
	}

	.lineP{
		border-width: 5px;
		border-color: $pTx;
	}

	%window-configuration{
		height: 100%;
		min-height: 100%;
		width: 100%;
	    overflow-x:hidden;
	}

	html{
		@extend %window-configuration;
	}

	body{
		@extend %window-configuration;
	}

	.link{
		cursor: pointer;
	}

	.hidden{
		opacity: 0;
	}

	.visible{
		opacity: 1;
	}



/*------------------------------------*\
    Welcome style
\*------------------------------------*/

	.welcome{
		height: 100%;
	}

		.welcome__load{
			position: relative;
			width: 100%;
			text-align: center;
			top: 0px;
		}

			.welcome__load#{$actived}{
				top: -120px;
				@include effect();
			}

		.welcome__title{
			font-weight: 200;
			font-size: 20px;
		}

			.welcome__title__container{
				display: inline-block;
				position: relative;
				bottom: 56px;
				right: 6px;
			}


		.welcome__image{
			height: 150px;
		}

			.welcome__image#{$actived}{
				color:red;
			}

			.welcome__image__container{
				display: inline-block;
				position: relative;
				top: -120px;
			}
			.welcome__image__container#{$actived}{
				top: 0px;
				@include effect();
			}





/*------------------------------------*\
    General info style
\*------------------------------------*/

	.general-info{
		
	}

		.general-info__personal{

		}

			.general-info__personal__name{

			}

				.general-info__personal__name__container{
					
				}


			.general-info__personal__position{
				
			}

				.general-info__personal__position__container{
					
				}


			.general-info__personal__profile-picture{
				
			}

				.general-info__personal__profile-picture__container{
					
				}


			.general-info__personal__age{
				
			}

				.general-info__personal__age__container{
					
				}


			.general-info__personal__from{
				
			}

				.general-info__personal__from__container{
					
				}


		.general-info__contact{
			
		}

			.general-info__contact__title{
				
			}

				.general-info__contact__title__container{
					
				}


			.general-info__contact__option{
				
			}
				.general-info__contact__option__title{
					
				}

					.general-info__contact__option__title__container{
						

					}

					.general-info__contact__option__title__icon{
						
					}


		.general-info__profile{
			
		}

			.general-info__profile__title{
				
			}

				.general-info__profile__title__container{
				
				}


			.general-info__profile__description{
				
			}

				.general-info__profile__description__container{
					
				}


		.general-info__goal{
			
		}

			.general-info__goal__title{
				
			}

				.general-info__goal__title__container{

				}


			.general-info__goal__description{
				
			}

				.general-info__goal__description__container{
					
				}


		.general-info__education{
			
		}
			.general-info__education__title{
				
			}

				.general-info__education__title__container{

				}


			.general-info__education__option{
				
			}

				.general-info__education__option__title{
					
				}

					.general-info__education__option__title__container{

					}


				.general-info__education__option__description{
					
				}

					.general-info__education__option__description__container{
						
					}


				.general-info__education__option__date{
					
				}

					.general-info__education__option__date__container{

					}
