<div class="{{content.title.class}}">

	<custome-title title="content.title.title">
	</custome-title>

	<hr style="width:80%; border-color: #A7A7A7;">

</div>


<div flex-container="row" flex-column="12">

	<div flex-item="2">
		
	</div>

	<div flex-item="8">
		
		<div flex-container="column">

			<div ng-repeat="option in content.options" class="{{option.class}}">
				
				<div flex-container="row" flex-column="12">
					
					<div flex-item="4" class="{{option.title.class}}">

						<div class="{{option.title.position.class}}">
							
							<custome-title title="option.title.position.title">
							</custome-title>

						</div>

						<div class="{{option.title.company.class}}">
							
							<custome-p paragraph="option.title.company.title">
							</custome-p>

						</div>

						<div class="{{option.title.date.class}}">

							<custome-p paragraph="option.title.date.title">
							</custome-p>

						</div>

					</div>

					<div flex-item="8" class="{{option.information.class}}">
						
						<div class="{{option.information.description.class}}">

							<custome-p paragraph="option.information.description.title">
							</custome-p>

						</div>

						<div class="{{option.information.duties.class}}">

							<div class="{{option.information.duties.title.class}}">

								<custome-title title="option.information.duties.title.title">
								</custome-title>

							</div>

							<div class="{{option.information.duties.title.optionsClass}}">

								<div ng-repeat="duty in option.information.duties.options" class="{{duty.class}}">

									<custome-p paragraph="duty.title">
									</custome-p>

								</div>

							</div>

						</div>

						<div class="{{option.information.location.class}}">

							<lx-icon lx-id="map-marker" lx-size="m" lx-color="teal" lx-type="flat">
							</lx-icon>

							<custome-title title="option.information.location.title">
							</custome-title>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>
	
</div>