//Variables
$font-family:"Roboto";
$border-color:#eeeeee;
$actived:--actived;


//Mixins
@mixin effect($items:all, $time:.5, $effect: ease){
	transition: $items #{$time}s $effect;
	-webkit-transition: $items #{$time}s $effect;
	-moz-transition: $items #{$time}s $effect;
}
