//Variables
$font-family:'Raleway', sans-serif;
$border-color:#eeeeee;
$actived:--actived;
$imagesUrl:"../images/";
//Background colors
$pBg:white;
$sBg:#eeeeee;
$tBg:#444A54;
$fBg:#009688;

//Background imgs
$cover:url('#{$imagesUrl}welcome-cover_1.4.jpg');
$profile:url('#{$imagesUrl}me_1.1.jpg');

//Text colors
$pTx:#444A54;
$sTx:#009688;
$tTx:#FFFFFF;
//Bg Colors
	$bgc--primary: 		#FFFFFF;
	$bgc--secondary: 	#eeeeee;
	$bgc--tertiary: 	#444A54;
	$bgc--quaternary: 	#009688;

//Text Colors
	$tc--primary:#444A54;
	$tc--secondary:#009688;
	$tc--tertiary:#FFFFFF;

//title sizes
	$t--xs: 16px;
	$t--s: 	30px;
	$t--m: 	40px;
	$t--l:	50px;
	$t--xl:	64px;
//Sub title size
	$st--xs: 	16px;
	$st--s: 	18px;
	$st--m: 	20px;
	$st--l:		22px;
	$st--xl:	30px;
//Paragraph sizes
	$p--xs: 16px;
	$p--s: 	18px;
	$p--m: 	20px;
	$p--l:	22px;
	$p--xl:	24px;


//Mixins
	@mixin effect($items:all, $time:.5, $effect: ease){
		transition: $items #{$time}s $effect;
		-webkit-transition: $items #{$time}s $effect;
		-moz-transition: $items #{$time}s $effect;
	}

	@mixin positionCoordinates($position,$z,$top:0,$bottom:0,$left:0,$right:0){
		position: $position;
		top: $top;
		bottom: $bottom;
		left: $left;
		right: $right;
		z-index: $z;
	}

	@mixin borders($side,$color,$size){
		border-#{$side}:#{$size}px solid $color;
	}

	@mixin section($position:relative,$zIndex:1,$overFlowY:hidden,$pointer:default,$pBottom:40px){
		overflow-y: $overFlowY;
		cursor:$pointer;
		position: $position;
		z-index: $zIndex;
		padding-bottom: $pBottom;
	}

	@mixin bgColor($bgColor:$pBg){
		background-color: $bgColor;
	}

	@mixin text($size:inherit,$color:inherit){
		font-size: $size;
		color: $color;
	}
	@mixin customeSpace($which,$from,$val){
		#{$which}-#{$from}:$val;
	}
	@mixin container($pTop:0px,$pBottom:0px,$pLeft:0px,$pRight:0px,$mTop:0px,$mBottom:0px,$mLeft:0px,$mRight:0px){
		padding-top: 	$pTop;
		padding-bottom: $pBottom;
		padding-left: 	$pLeft;
		padding-right: 	$pRight;
		margin-top: 	$mTop;
		margin-bottom: 	$mBottom;
		margin-left: 	$mLeft;
		margin-right: 	$mRight;
	}

	@mixin paragraph($size,$color,$line-height:1em,$text-align:inherit){
		font-size: $size;
		color: $color;
		line-height: $line-height;
		text-align: $text-align;
	}

	
/*------------------------------------*\
    Global style
\*------------------------------------*/
	//Extends
		%section{
			@include section();
		}

			%section--primary{
				@include bgColor();
			}

			%section--secondary{
				@include bgColor($bgColor:$bgc--secondary);
			}

			%section--tertiary{
				@include bgColor($bgColor:$bgc--tertiary);
				color:$tTx;
			}

		%title{
			
		}

			%title--primary{
				@include text($size:$t--m,$color:$tc--secondary);
			}

			%title--secondary{
				@include text($size:$t--s,$color:$tc--secondary);
			}

			%title--tertiary{
				@include text($size:$t--xs,$color:$tc--secondary);
				font-weight: bolder;
			}
			%title--quaternary{
				@include text($size:$t--m,$color:$tc--tertiary);
			}

		%sub-title{

		}

			%sub-title--primary{
				@include text($size:$st--xl,$color:$tc--primary);
				font-weight: bolder;
			}

			%sub-title--secondary{
				@include text($size:$st--s,$color:$tc--secondary);
				font-weight: bolder;
			}

			%sub-title--tertiary{
				@include text($size:$st--s,$color:$tc--primary);
				font-weight: bolder;
			}

			%sub-title--quaternary{
				@include text($size:$st--xs,$color:$tc--primary);
				font-weight: bolder;
			}


		%paragraph{

		}

			%paragraph--primary{
				@include paragraph($size:$p--s,$color:$tc--primary,$line-height:1.5em,$text-align:justify);
			}

			%paragraph--secondary{
				@include paragraph($size:$p--s,$color:$tc--primary);
			}

			%paragraph--tertiary{
				@include paragraph($size:$p--s,$color:$tc--primary);
				font-weight: bolder;
			}

			%paragraph--quaternary{
				@include paragraph($size:$p--xs,$color:$tc--primary);
				font-weight: bolder;
			}

	//Displays
		%inlineBlock{
			display: inline-block;
		}
		%inline{
			display: inline;
		}
		%block{
			display: block;
		}

	//Space from side
		%sidesSpace{
			padding: 		0 20px;
		}
		%leftSpace{
			padding-left: 	20px;
		}
		%rightSpace{
			padding-right: 	20px
		}
		%topSpace{
			padding-top: 	10px
		}
		%bottomSpace{
			padding-bottom:	10px
		}

	//out space from side
		%outSpace{
			margin: 		10px 10px;
		}
		%outBottomSpace{
			margin-bottom: 	10px;
		}
		%outTopSpace{
			margin-top: 	10px;
		}
		%outBTSpace{
			margin-top: 	10px;
			margin-bottom: 	10px;
		}
		%outRightSpace{
			margin-right: 10px;
		}
		%outLeftSpace{
			margin-left: 10px;
		}

	//Text align
		%textLeft{
			text-align: left;
		}
		%textRight{
			text-align: right;
		}
		%textCenter{
			text-align: center;
		}
		%textJustify{
			text-align: justify;
		}

	//Pointers
		%pointerDefault{
			cursor: default;
		}

	//Letter spacing
		%doubleSpace{
			letter-spacing: 2px;
		}
		%negSingleSpace{
			letter-spacing: -1px;
		}

	//Center element with position
		%centered{
			position: relative;
			top:40%;
		}

	//Z position
		%zPositionP{
			z-index: 1;
		}

	//Over flow
		%flowYHidden{
			overflow-y: hidden;
		}