@charset "utf-8";

//Import configuration
@import "_config.scss";
	
	*{
		font-family: $font-family;
	}

	hr{
		border:0;
		border-top:1px solid $border-color;
		display: inline-block;
	}

	.lineP{
		border-width: 5px;
		border-color: $pTx;
	}
	.lineS{
		border-width: 5px;
		border-color: $tTx;
	}

	%window-configuration{
		min-height: 100%;
		width: 100%;
	    overflow-x:hidden;
	}

	html{
		@extend %window-configuration;
	}

	body{
		@extend %window-configuration;
	}

	.link{
		cursor: pointer;
	}

	.hidden{
		opacity: 0;
	}

	.visible{
		opacity: 1;
	}



/*------------------------------------*\
    Welcome style
\*------------------------------------*/

	.welcome{
		@extend %flowYHidden;
		height: 100%;
		@extend %pointerDefault;
	}

		.welcome__load{
			position: relative;
			width: 100%;
			text-align: center;
			top: 0px;
		}

			.welcome__load#{$actived}{
				top: -120px;
				@include effect();
			}

		.welcome__title{
			font-weight: 200;
			font-size: 20px;
		}

			.welcome__title__container{
				display: inline-block;
				position: relative;
				bottom: 56px;
				right: 6px;
			}


		.welcome__image{
			height: 150px;
		}

			.welcome__image#{$actived}{
				color:red;
			}

			.welcome__image__container{
				display: inline-block;
				position: relative;
				top: -120px;
			}
			.welcome__image__container#{$actived}{
				top: 0px;
				@include effect();
			}





/*------------------------------------*\
    Cover style
\*------------------------------------*/
	.cover{
		height: 1500px;
		margin-bottom: 1px;
		@extend %pointerDefault;
	}
		.cover__image{
			background-image: $cover;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: center center;
			@include positionCoordinates($position:fixed,$z:0);
		}

		.cover__container{
			@extend %textCenter;
			@extend %centered;
			@extend %zPositionP;
			width: 100%;
			position: absolute;
			top: 40%;
		}

			.cover__container__title{
				@extend %txl;
				@extend %tTx;
				@extend %fwLight;
				@extend %sidesSpace;
				@extend %negSingleSpace;
				@extend %outBottomSpace;
			}

				.cover__container__title__container{
					@extend %inlineBlock;
					@extend %borderBottomP;
				}


			.cover__container__sub-title{
				@extend %stm;
				@extend %tTx;
				@extend %doubleSpace;
				@extend %fwRegular;
				@extend %sidesSpace;
				@extend %topSpace;
			}

				.cover__container__sub-title__container{

				}





/*------------------------------------*\
    General info style
\*------------------------------------*/

	.general-info{
		@extend %pBg;
		@extend %zPositionP;
		@extend %flowYHidden;
		@extend %pointerDefault;
		position: relative;
		padding-bottom: 40px;
	}
		.general-info__image{
			border-radius: 50%;
			height: 300px;
			margin: auto;
		}

			.general-info__image__container{
				@extend %topSpace;
				@extend %bottomSpace;
				@extend %outBTSpace;
			}

		.general-info__information{
		
		}

		.general-info__title{
			@extend %sTx;
			@extend %txl;
		}

			.general-info__title__container{
				@extend %textCenter;
				@extend %sidesSpace;
				@extend %topSpace;
				@extend %bottomSpace;
				margin-top: 40px;
			}
			

		.general-info__paragraph{
			@extend %pTx;
			@extend %pxl;
			@extend %topSpace;
			padding-bottom: 40px;
		}

		.general-info__profile{
			@extend %sidesSpace;
		}

			.general-info__profile__title{
				@extend %tm;
				@extend %sTx;
			}
				.general-info__profile__title__container{
					@extend %bottomSpace;
				}


			.general-info__profile__option{

			}
				.general-info__profile__option__title{
					@extend %ts;
					@extend %pTx;
					font-weight: bolder;
				}

					.general-info__profile__option__title__container{
						@extend %topSpace;

					}


				.general-info__profile__option__description{
					@extend %pTx;
				}

					.general-info__profile__option__description__container{
						@extend %pxl;
						@extend %bottomSpace;
					}


		.general-info__goal{
			@extend %sidesSpace;
		}

			.general-info__goal__title{
				@extend %tm;
				@extend %sTx;
			}

				.general-info__goal__title__container{
					@extend %bottomSpace;
				}


			.general-info__goal__paragraph{
				@extend %pxl;
				@extend %pTx;
				line-height: 1.5em;
			}

				.general-info__goal__paragraph__container{
					@extend %topSpace;
				}


		.general-info__education{
			@extend %sidesSpace;
			@extend %topSpace;
			@extend %outTopSpace;
		}
			.general-info__education__title{
				@extend %sTx;
			}

				.general-info__education__title__container{
					@extend %bottomSpace;
				}


			.general-info__education__option{
				@extend %bottomSpace;
			}

				.general-info__education__option__logo{
					margin: auto;
					height: 50px;
				}

					.general-info__education__option__logo__container{

					}


				.general-info__education__option__paragraph{
					@extend %sidesSpace;
				}

					.general-info__education__option__paragraph__title{
						@extend %pxl;
						@extend %sTx;
						font-weight: bolder;
					}

					.general-info__education__option__paragraph__sub-title{
						@extend %pxl;
						@extend %pTx;
						font-weight: bolder;
					}

					.general-info__education__option__paragraph__date{
						@extend %pxl;
						@extend %pTx;
					}





/*------------------------------------*\
    Footer style
\*------------------------------------*/

	.footer{
		@extend %tBg;
		@extend %zPositionP;
		@extend %flowYHidden;
		@extend %tTx;
		position: relative;
	}

		.footer__title{
			@extend %bottomSpace;
			margin-top: 40px;
			@extend %pointerDefault;
		}

			.footer__title__title{
				@extend %txl;

			}

				.footer__title__title__container{
					@extend %textCenter;
				}

			.footer__title__paragraph{
				
			}

				.footer__title__paragraph__container{
					@extend %pxl;
					@extend %textCenter;
					@extend %topSpace;
				}


			.footer__title__author{
				
			}

				.footer__title__author__container{
					@extend %pm;
					@extend %textCenter;
					@extend %topSpace;
				}


		.footer__contact{
			margin-top: 40px;
		}

			.footer__contact__option{
				@extend %textCenter;
			}

				.footer__contact__option__title{
					@extend %txs;
				}

					.footer__contact__option__title__icon{
						@extend %inline;
					}

					.footer__contact__option__title__container{
						@extend %inlineBlock;
						padding-top: 8px;
					}


		.footer__social{
			margin-top: 40px;
		}

			.footer__social__option{
				@extend %textCenter;
			}

				.footer__social__option__title{
					@extend %txs;
				}

					.footer__social__option__title__icon{
						@extend %inline;
					}

					.footer__social__option__title__container{
						@extend %inlineBlock;
						padding-top: 8px;
					}


				.footer__social__option__link{
					@include effect($time:.3);

					&:hover, &:hover i{
						@extend %sTx;
						@include effect($time:.3);
					}

					i{
						@include effect($time:.3);
					}
				}

		.footer__signature{
			@extend %textCenter;
			@extend %pointerDefault;
		}

			.footer__signature__title{
				@extend %txs;
				font-weight: 200;
			}

				.footer__signature__title__container{
					@extend %inlineBlock;
					position: relative;
					bottom: 58px;
				}


			.footer__signature__logo{
				height: 150px;
			}	
			
				.footer__signature__logo__container{
					@extend %inlineBlock;
				}		