@charset "utf-8";
/*------------------------------------*\
    Global style
\*------------------------------------*/
/* line 10, main.scss */
* {
  font-family: "Roboto";
}

/* line 14, main.scss */
hr {
  border: 0;
  border-top: 1px solid #eeeeee;
}

/* line 19, main.scss */
html, body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* line 34, main.scss */
.link {
  cursor: pointer;
}

/* line 38, main.scss */
.hidden {
  opacity: 0;
}

/* line 42, main.scss */
.visible {
  opacity: 1;
}

/*------------------------------------*\
    Welcome style
\*------------------------------------*/
/* line 52, main.scss */
.welcome {
  height: 100%;
}

/* line 56, main.scss */
.welcome__load {
  position: relative;
  width: 100%;
  text-align: center;
  top: 0px;
}

/* line 63, main.scss */
.welcome__load--actived {
  top: -120px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

/* line 68, main.scss */
.welcome__title {
  font-weight: 200;
  font-size: 20px;
}

/* line 73, main.scss */
.welcome__title__container {
  display: inline-block;
  position: relative;
  bottom: 56px;
  right: 6px;
}

/* line 81, main.scss */
.welcome__image {
  height: 150px;
}

/* line 85, main.scss */
.welcome__image--actived {
  color: red;
}

/* line 89, main.scss */
.welcome__image__container {
  display: inline-block;
  position: relative;
  top: -120px;
}

/* line 94, main.scss */
.welcome__image__container--actived {
  top: 0px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
