@charset "utf-8";
/*------------------------------------*\
    Global style
\*------------------------------------*/
/* line 6, main.scss */
* {
  font-family: "Roboto";
}

/* line 10, main.scss */
hr {
  border: 0;
  border-top: 1px solid #eeeeee;
}

/* line 15, main.scss */
.lineP {
  border-width: 5px;
  border-color: #444a54;
}

/* line 20, main.scss */
html, body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* line 35, main.scss */
.link {
  cursor: pointer;
}

/* line 39, main.scss */
.hidden {
  opacity: 0;
}

/* line 43, main.scss */
.visible {
  opacity: 1;
}

/*------------------------------------*\
    Welcome style
\*------------------------------------*/
/* line 53, main.scss */
.welcome {
  height: 100%;
}

/* line 57, main.scss */
.welcome__load {
  position: relative;
  width: 100%;
  text-align: center;
  top: 0px;
}

/* line 64, main.scss */
.welcome__load--actived {
  top: -120px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

/* line 69, main.scss */
.welcome__title {
  font-weight: 200;
  font-size: 20px;
}

/* line 74, main.scss */
.welcome__title__container {
  display: inline-block;
  position: relative;
  bottom: 56px;
  right: 6px;
}

/* line 82, main.scss */
.welcome__image {
  height: 150px;
}

/* line 86, main.scss */
.welcome__image--actived {
  color: red;
}

/* line 90, main.scss */
.welcome__image__container {
  display: inline-block;
  position: relative;
  top: -120px;
}

/* line 95, main.scss */
.welcome__image__container--actived {
  top: 0px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

/*------------------------------------*\
    General info style
\*------------------------------------*/
