@charset "utf-8";
/*------------------------------------*\
    Global style
\*------------------------------------*/
/* line 48, _config.scss */
.cover__container__title, .cover__container__sub-title {
  color: white;
}

/* line 72, _config.scss */
.cover__container__title {
  font-size: 40px;
}

/* line 89, _config.scss */
.cover__container__sub-title {
  font-size: 14px;
}

/* line 127, _config.scss */
.cover__container__title {
  font-weight: 400;
}

/* line 130, _config.scss */
.cover__container__sub-title {
  font-weight: 500;
}

/* line 138, _config.scss */
.cover__container__title, .cover__container__sub-title {
  padding: 0 20px;
}

/* line 147, _config.scss */
.cover__container__sub-title {
  padding-top: 10px;
}

/* line 193, _config.scss */
.cover__container {
  text-align: center;
}

/* line 214, _config.scss */
.cover__container__sub-title {
  letter-spacing: 2px;
}

/* line 217, _config.scss */
.cover__container__title {
  letter-spacing: -1px;
}

/* line 230, _config.scss */
.cover__container {
  position: relative;
  top: 40%;
}

/* line 6, main.scss */
* {
  font-family: "Roboto";
}

/* line 10, main.scss */
hr {
  border: 0;
  border-top: 1px solid #eeeeee;
}

/* line 15, main.scss */
.lineP {
  border-width: 5px;
  border-color: #444a54;
}

/* line 20, main.scss */
html, body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* line 35, main.scss */
.link {
  cursor: pointer;
}

/* line 39, main.scss */
.hidden {
  opacity: 0;
}

/* line 43, main.scss */
.visible {
  opacity: 1;
}

/*------------------------------------*\
    Welcome style
\*------------------------------------*/
/* line 53, main.scss */
.welcome {
  height: 100%;
}

/* line 57, main.scss */
.welcome__load {
  position: relative;
  width: 100%;
  text-align: center;
  top: 0px;
}

/* line 64, main.scss */
.welcome__load--actived {
  top: -120px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

/* line 69, main.scss */
.welcome__title {
  font-weight: 200;
  font-size: 20px;
}

/* line 74, main.scss */
.welcome__title__container {
  display: inline-block;
  position: relative;
  bottom: 56px;
  right: 6px;
}

/* line 82, main.scss */
.welcome__image {
  height: 150px;
}

/* line 86, main.scss */
.welcome__image--actived {
  color: red;
}

/* line 90, main.scss */
.welcome__image__container {
  display: inline-block;
  position: relative;
  top: -120px;
}

/* line 95, main.scss */
.welcome__image__container--actived {
  top: 0px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

/*------------------------------------*\
    General info style
\*------------------------------------*/
/* line 107, main.scss */
.cover {
  height: 650px;
  background-image: url("../images/welcome-cover_1.4.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

/*------------------------------------*\
    General info style
\*------------------------------------*/
